@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Section Travel
    var travel = Model.Content.FirstChild("sectionTitleTemplate");
}

 @if (travel != null)
    {
        <div class="bg-grey py-4">
            <div class="container">
                <div class="template-five row">
                    <div class="col-12">
                        <h2 class="title text-center mb-5 font-weight-bold">@(travel.HasProperty("title") ? travel.GetPropertyValue<string>("title") : "")</h2>
                    </div>

                    @foreach (var item in travel.Children)
                    {
                        string imageValue = (item.GetPropertyValue<IPublishedContent>("image") == null ? "" : item.GetPropertyValue<IPublishedContent>("image").Url);
                        <div class="card-image col-md-4 col-sm-6 col-6" onclick="showDetailsTravel({title:'@(item.GetPropertyValue<string>("title"))',des: `@(item.GetPropertyValue<string>("description"))`, image:'@imageValue' })">
                            <div class="card-image-cover">
                                <div class="card-image-head">
                                    <img src="@imageValue" alt="">
                                </div>
                                <div class="card-image-body">
                                    <p class="sub-title mt-2">@(item.GetPropertyValue<string>("subtitle"))</p>
                                    <h3 class="main-title">@(item.GetPropertyValue<string>("title"))</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }